.main{
    margin: 0 auto;
    width: 980px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#form div label {
    width: 300px;
}

.UserAddForm .form-control {
    display: inline !important;
    width: 60% !important;
    margin-bottom: 10px;
}

#user div label {
    width: 200px;
}

.custom-textbox{
    padding-left:198px;
}

.remove_field{
    margin-left:10px;
}