<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to User Management Sytems</title>
        {% block head_css %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}

        {% block head_js %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}      
    </head>
    <body>
        <div class="main">
            <div id="sidebar">
                <h1>User Management Sytems - Edit User Form</h1>
                {% block sidebar %}
                    <nav>
                        <ul>
                            <li><a href="/" target="_blank" >Home</a></li> | 
                            <li><a href="/users/" target="_blank">User Management</a></li> |
                            <li><a href="/Rest/users/" target="_blank">Rest API</a></li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>

            <div id="content">
                {% block body %}
                    {{ form_start(form, {attr: {class: 'UserAddForm',role : 'form'} }) }}
                        {{ form_widget(form) }}
                       <input type="submit" class="btn btn-primary" />
                    {{ form_end(form) }}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
